<body>
    <agm-map 
        [latitude]="44.1124123"
        [longitude]="15.252873"
        [zoom]="14"
        [disableDefaultUI]="false"
        [zoomControl]="false"
        (mapClick)="mapClicked($event)">

        <agm-marker
            *ngFor="let location of locations; let i = index"
            [latitude]="location.lat"
            [longitude]="location.lng"
            [label]="location.name"
            [openInfoWindow]="true"
            [iconUrl]="'http://i63.tinypic.com/2ntbd3b.png'">

            <agm-info-window>
                <h4>{{location.name}}</h4>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</body>